/*
+----------------------------------------------------------------+
    Reset CSS
+----------------------------------------------------------------+
*/
body, div, ul, ol, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0
}

li {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none
}

/*
+----------------------------------------------------------------+
    Body
+----------------------------------------------------------------+
*/
body {
    background: #ededed url(img/noisy.png) repeat;
    font: 62.5% 'PT Sans', sans-serif;
    padding-top: 30px
}

/*
+----------------------------------------------------------------+
    Twitter Widget
+----------------------------------------------------------------+
*/
h1 {
    font-size: 2.4em;
    text-align: center;
}

.stream {
    background-color: #fff;
    margin: 30px auto;
    padding: 30px 0 20px;
    width: 300px;
    box-shadow: 0 0 13px rgba(39, 39, 39, 0.8);
}

.stream h2 {
    background: url(img/bg-twitter-header.png) no-repeat;
    height: 60px;
    margin: 0 auto 15px;
    width: 240px
}

.stream h2 span {
    display: none
}

.stream li {
    color: #999;
    font-size: 1.4em;
    padding: 10px 29px
}

.stream li:hover {
    background-color: #fafafa;
    border-left: 5px solid #34bd31;
    padding-left:24px
}

.stream li a {
    color: #24b4ff
}

.stream li span {
    display: block
}

.stream li.created {
    margin-top: 5px
}

/*
+----------------------------------------------------------------+
    Badge
+----------------------------------------------------------------+
*/
@media screen and (max-width: 480px) {
    .badge {
        display: none;
    }
}